@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Tetros

<root class="game-tetros">
    <div class="score-panel">
        <label class="header">Score:</label>
        <label class="score" text=@Score ></label>
    </div>
    <div class="level-panel">
        <label class="header">Level:</label>
        <label class="level" text=@Level ></label>
    </div>

    <!-- Left Panel -->
    <div class="left-panel">
        <label class="header">Holding:</label>
        <div class="holding">
            @if(HeldPiece != BlockType.Empty)
            {
                <TetrosPanel Block=@(HeldPiece) />
            }
        </div>
    </div>

    <!-- Game Panel -->
    <div @ref="BoardPanel" class="board">
    </div>

    <!-- Right Panel -->
    <div class="right-panel">
        <label class="header">Next:</label>
        @if(Queue.Count > 0)
        {
            <div class="next">
                <TetrosPanel Block=@(Queue[0]) />
            </div>
            
            @for(int i=1; i<Queue.Count; i++)
            {
                <div class="next small">
                    <TetrosPanel Block=@(Queue[i]) Small=@true />
                </div>
            }
        }
    </div>
</root>