@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace Tetros

<root>
    <div class="logo-container">
        <img class="logo" src="/sprites/arcade/tetros/logo.png" />
        <div class="author">By Carson Kompon</div>
    </div>

    <div class="start-text">
        Press <InputHint name="Use" /> to play
    </div>
</root>